*{
	box-sizing: border-box;
}

body {
	width: 80%;
	margin: 0 auto;
}

h1{
    text-align: center;
    font-weight: bold;
	font-size: 50px;
}

header > span {
	color: #4d4d4d;
    margin-left: 640px;
    font-size: 35px;
}

h2 {
	display: inline;
	font-weight: bold;
}

.wraper {
	margin: 10px 0 50px;
}

.imag{
	background: url(../image/image-header.jpg);
	display: inline-block;
    width: 550px;
    height: 320px;
    margin-left: 100px;
	margin-right: 30px;
}

.order {
	position: relative;
	display: inline-block;
	margin-top: 20px;
}

.order p:first-child{
	font-size: 13px;
}


input[type='submit']{
	background: #8ab63b;
	border: 0;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	width: 190px;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
}

.order  input + p {
	font-weight: bold;
	font-size: 25px;
}

.decor {
	color: #9a9a9a;
}

.through-line{
	position: absolute;
	top: 231px;
	left: 93px;
}

.decor + span{
	color: #8ab63b;
}

.order p:last-child{
	color: #9a9a9a;
	font-size: 11px;
}

.laine-left{
	margin-right:30px;
}

.laine-right{
	margin-left:30px;
}

.circle {
	height: 300px;
	margin-top: 20px;
	position: relative;
	text-align: center;
}

.circle span {
	position: absolute;
	top: 60px;
	left: 110px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}

.first, .second, .third, .fourth{
	width:230px;
    height:300px;
    position:absolute;
	display: inline-block;
}

.first {
	left: 120px;
}

.second{
	left: 320px;
}

.third {
	right: 320px;
}

.fourth {
	right: 120px;
}

.slider {
	overflow: hidden; /* Скрываем всё что за блоком слайдера */
	position: relative;
	width: 700px;
	height: 500px;
	margin: 50px auto 0 auto;
}
 
.slides {
	position: relative;
	transition: 1s; /* Задаем время изменения блока, отвечает за плавную прокрутку */
}

.slide {
	float: left;
	display: block;
}
 
.slide img{
	width: 700px;
	height: 400px;
	padding-bottom: 30px;
}
 
.next {
	position: absolute;
	height: 40px;
	width: 40px;
	background: #fff;
	opacity: 0.7;
	right: 0;
	top: 180px;
	border-radius: 100%;
	cursor: pointer;
	color: #8ab63b;
}

.fa-caret-left {
	margin-left: 12px;
	margin-top: 3px;
}

.fa-caret-right {
	margin-top: 4px;
	margin-left: 16px;
}
	
.prev {
	position: absolute;
	height: 40px;
	width: 40px;
	background: #fff;
	opacity: 0.7;
	left: 0;
	top: 180px;
	border-radius: 100%;
	cursor: pointer;
	color: #8ab63b;
}

.next p{
	display: inline-block;
	padding: 0 0 0 13px;
	font-weight: bold;
	color: #8ab63b;
	font-size: 30px;
}
.prev p{
	display: inline-block;
	padding: 0 0 0 11px;
	font-weight: bold;
	color: #8ab63b;
	font-size: 30px;
}

.slide p{
	text-align: center;
}

main + div {
	text-align: center;
}

main + div p:last-child {
	color: #9a9a9a;
}

form{
	margin: 0 auto;
	padding: 10px 0;
	display: block;
	width: 380px;
	text-align: center;
	border: 2px solid #dbdbd3;
	border-radius: 5px;
	margin-top: 50px;
}

form input{
	margin:10px auto;
	width: 220px;
	text-align: center;
	padding: 10px;
	border: 2px solid #dbdbd3;
	border-radius: 5px;
}

form input[type='submit']{
	width: 240px;
}

form p:first-child {
	font-weight: bold;
	font-size: 25px;
	color: black;
}

form > p{
	font-size: 10px;
}

form span {
	color: #8ab63b;;
}

.condit{
	display: inline-block;
	text-decoration: underline;
	margin: 20px 0;
	cursor: pointer;
	color: #9a9a9a;
}