body{
    width:80%;
	margin: 0 auto;
}

h1{
    text-align: center;
    font-weight: bold;
	   font-size: 50px;
}

h2{
	display: inline;
	font-weight: bold;
}

h3{
    font-weight: bold;
	font-size: 20px;
}



span{
    text-decoration: line-through;
	color: #9a9a9a;
}

article{
	padding-bottom:100px;
}

.abc{
    color: #4d4d4d;
    padding-left: 640px;
    font-size: 25px;
	
}

.decor{
    color: #8ab63b;
    text-decoration: none;
}

.grayy{
    padding-top: 10px;
    color: #9a9a9a;
}

.rig{
    margin-left: 550px;
    font-size: 12px;
    padding:20px;
}
.img-head{
    display: block;
    float: left;
    width: 550px;
    height: 320px;
    padding-left: 100px;
	padding-right: 30px;
}

input[type='submit']{
	background: #8ab63b;
	border: 0;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	width: 150px;
	height: 40px;
	font-size: 15px;
}

.laine-left{
	padding-right:30px;
}

.laine-right{
	padding-left:30px;
}

.circle{
	margin:0 auto;
    height:200px;
    position:relative;
	padding-left: 50px;
}

.first, .second, .thirdth, .fourth{
	width:230px;
    height:200px;
    position:relative;
	display: inline-block;
}

.first p{
    position:absolute;
    top:80px;
    left:180px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}


.second  p{
	position:absolute;
	top: 80px;
	left: 140px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}

.thirdth  p{
	position:absolute;
	top: 80px;
	left: 130px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}

.fourth  p{
	position:absolute;
	top: 80px;
	left: 130px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}

li{
	display:inline-block;
	text-align: center;
	font-size:15px;
	vertical-align:top;
}

#lione{
	padding-left: 90px;
	
}

#litwo{
	padding-left: 25px;
}

#lithree{
	padding-left: 70px;
}

#lifour{
	padding-left: 60px;
}

#lol {
	position:relative;
	margin: 100px auto;
	padding: 5px;
	width: 660px;
	height:360px;
	/*background-color: silver;
	border: 5px solid grey;
	border-radius:15px;*/
}
#scr {
	margin:20px auto;
	width: 600px;
	height: 320px;
	margin-top:20px;
	/*background-color: white;
	background-size:cover;
	border: 2px solid black;
	border-radius:10px;*/
}
button {
	position: absolute;
	top: 150px;
	width: 25px;
	height: 30px;
	font: 12pt arial,tahoma,sans-serif;
	text-align: center;
}
.left {
	left:5px;
}
.right {
	right:5px;
}


body .slider {
overflow:hidden; /* Скрываем всё что за блоком слайдера */
position:relative;
width:700px;
height:500px;
margin:50px auto 0 auto;
}
 
body .slider .slides {
position:relative;
transition:1s; /* Задаем время изменения блока, отвечает за плавную прокрутку */
}
 
body .slider .slides .slide {
float:left;
display:block;
}
 
body .slider .slides .slide img{
width:700px;
height:400px;
padding-bottom: 30px;
}
 
body .slider .next {
position:absolute;
height:40px;
width:40px;
background:#fff;
right:0;
top:180px;
z-index:1;
border-radius: 100%;
cursor:pointer;
}
 
body .slider .prev {
position:absolute;
height:40px;
width:40px;
background:#fff;
left:0;
top:180px;
z-index:1;
border-radius:100%;
cursor:pointer;
}
.next p{
	display: inline-block;
	padding: 0 0 0 13px;
	font-weight: bold;
	color: #8ab63b;
	font-size: 30px;
}
.prev p{
	display: inline-block;
	padding: 0 0 0 11px;
	font-weight: bold;
	color: #8ab63b;
	font-size: 30px;
}

.slide p{
	text-align: center;
}
.click{
	text-align: center;
}

form{
	margin: 0 auto;
	display: block;
	width: 380px;
	text-align: center;
	border:10px;
	border-color: green;
	padding-top: 50px;
}
form input{
	margin:10px auto;
	width: 220px;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
	border-color: #black;
}

form input[type='submit']{
	width: 240px;
}

form .grayy{
	font-size:10px;
}

.click  > .grayy{
	text-decoration: underline;
	padding: 20px 0;
}